<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-danger detonation-panel">
        <div class="panel-heading">
          <h1 class="panel-title">That went as well as could be expected ...</h1>
        </div>
        <div class="panel-body">
            <img alt="Boom! Explosion occurred." id="detonation" src="/images/boom.gif"/>
        </div>
      </div>
    </div>
  </div>
</div>
