#comicForm {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #207cca 71%, #207cca 71%, #2989d8 81%, #2989d8 81%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(71%,#207cca), color-stop(71%,#207cca), color-stop(81%,#2989d8), color-stop(81%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 71%,#207cca 71%,#2989d8 81%,#2989d8 81%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #1e5799 0%,#207cca 71%,#207cca 71%,#2989d8 81%,#2989d8 81%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #1e5799 0%,#207cca 71%,#207cca 71%,#2989d8 81%,#2989d8 81%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to right, #1e5799 0%,#207cca 71%,#207cca 71%,#2989d8 81%,#2989d8 81%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

#comicForm input {
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: block;
    margin-bottom: 1em;
}

#comicForm input:focus {
    border: 2px solid #09C;
}

#comicForm textarea#comicDescription {
    width: 620px;
    height: 300px;
}

#comicForm textarea {
    display: block;
    margin-bottom: 1em;
}

#comicForm textarea:focus {
    border: 2px solid #09C;
}

#comicForm select {
    display: block;
    margin-bottom: 1em;
}

#comicForm label.val-error {
    font-size: 0.9em;
    width: 400px;
    padding: 5px;
    font-weight: bold;
    margin: 20px;
    background: #990000;
    color: white;
    border: 1px solid #ccc;
    display: block;
}

#comicForm input.val-error, select.val-error {
    border: 1px solid red;
    background: #ffa9b8;
}

#comicForm input#comicIssue, input#comicVolume {
    width: 60px;
}

#comicForm input#comicSeries, #comicForm input#comicName, #comicForm input#comicStoryArc {
    width: 350px;
}

#comic-list a {
    color: blue;
}