
<article id="comic-new">
  <h1>Add a Comic</h1>

  <p><a href="/comics">Back to Comic List</a></p>

  <form id="comicForm" method="post" action="/comics">
    <%= erb :'comics/comic_form' %>
  </form>
</article>
