
<article id="home">
  <h2>An Application for Testing Test Tools</h2>

  <p>This is the generic home page. If you are seeing this, you logged in!</p>

  <h3>Places To Go</h3>

  <ul>
    <li><a href="stardate" id="stardate">Stardate Calculator</a></li>
    <li><a href="planets" id="planets">Planet Weight Calculator</a></li>
    <li><a href="warp" id="warp">Warp Factor Calculator</a></li>
    <li><a href="warcraft" id="warcraft">World of Warcraft</a></li>
    <li><a href="overlord" id="overlord">Project Overlord</a></li>
    <li><a href="comics" id="comics">Comic Library</a></li>
    <li><a href="practice" id="practice">Practice Page</a></li>
  </ul>

  <div id="test-guide">
    <p><strong>Automation Notes:</strong></p>
    <p>This is the home page and where you can see a menu of places to go. Also make sure to note the pullout menu on the left side of the screen. That also contains navigation.</p>
  </div>
</article>
