
<article id="index">
  <img id="site-image" src="/images/tester.png" alt="Tester Gorilla">

  <h1><%= settings.name %></h1>
  <h2>Spec Writing Assessment</h2>

  <h3>Purpose</h3>

  <p id="purpose">This is a <em>test application</em> for spec writing and automation.</p>

  <p>You can login (see the little pulldown at the top?) with user name "admin" and password "admin". It's not meant to be secure, clearly. This is more just to allow for checking state. Once you login you'll see a pullout menu that will let you navigate to various pages.</p>

  <h3>Running a Local Version</h3>

  <p>To run a local version, get the repo. You can <a id="download" name="download" class="download" href="https://github.com/jeffnyman/veilus/archive/master.zip">download a zip</a> or clone the repo using:</p>

  <pre>git clone https://github.com/jeffnyman/veilus</pre>

  <p>From the project directory, run the following to get the necessary components:</p>

  <pre>bundle install</pre>

  <p>You can run Veilus as a pure Ruby app:</p>

  <pre>bundle exec ruby app.rb</pre>

  <p>Or you can run Veilus as a Rack application:</p>

  <pre>bundle exec rackup config.ru</pre>

  <div id="test-guide">
    <a href="http://www.w3.org/html/logo/">
      <img src="images/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
    </a>
  </div>
</article>
