<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
  <meta content="no-cache" http-equiv="Pragma" />
  <meta content="0" http-equiv="Expires" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="Medley of Automated Checking Exercises" name="description" />
  <meta content="Jeff Nyman" name="author">
  <link href="/favicon.ico" rel="shortcut icon" />
  <link href="/stylesheets/vendor/bootstrap-3.3.7.min.css" rel="stylesheet" />
  <link href="/stylesheets/vendor/normalize.css" rel="stylesheet" />
  <link href="/stylesheets/vendor/datatables-1.10.12.min.css" rel="stylesheet" />
  <link href="/stylesheets/site.css" rel="stylesheet" />
  <link href="/stylesheets/font.css" rel="stylesheet" />
  <link href="/stylesheets/date.css" rel="stylesheet" />
  <link href="/stylesheets/menu.css" rel="stylesheet" />
  <link href="/stylesheets/login.css" rel="stylesheet" />
  <link href="/stylesheets/stardate.css" rel="stylesheet" />
  <link href="/stylesheets/planets.css" rel="stylesheet" />
  <link href="/stylesheets/warp.css" rel="stylesheet" />
  <link href="/stylesheets/warcraft.css" rel="stylesheet" />
  <link href="/stylesheets/overlord.css" rel="stylesheet" />
  <link href="/stylesheets/practice.css" rel="stylesheet" />
</head>
<body>
  <div id="login" name="login" class="login">
    <p id="open">
      <% if session[:current_user].nil? %>
        User: <em>undefined</em>
      <% else %>
        User: <%= session[:current_user] %>
      <% end %>
    </p>
    <form>
      <div style="text-align:center;">
        <p><a class="site-button" href="/logout">Logout</a></p>
      </div>
    </form>
  </div>
  <header>
    <h1 class="site-logo"><a id="veilus-link" href="home">Spec Workshop</a> <span class="subtitle">Spec<br />Writing<br />Assessment</span></h1>
  </header>

  <section>
    <%= styled_flash %>
    <%= yield %>
  </section>

  <footer>
    <p>Spec Workshop - Spec Writing Assessment, by <a href="http://testerstories.com/" id="blog">Jeff Nyman</a>. For use with <a href="https://github.com/jeffnyman/testable" id="app">Testable</a> and other automation tools.</p>
  </footer>

  <div id="areas">
    <p id="navlist" class="open">+</p>
    <h2>Pages</h2>
    <ul class="nav">
      <li><a href="../home" id="home">Home</a></li>
      <li><a href="../stardate" id="stardate">Stardates</a></li>
      <li><a href="../planets" id="planets">Planets</a></li>
      <li><a href="../warp" id="warp">Warping</a></li>
      <li><a href="../warcraft" id="warcraft">Warcraft</a></li>
      <li><a href="../overlord" id="overlord">Overlord</a></li>
      <li><a href="../practice" id="practice">Practice</a></li>
    </ul>
  </div>

  <script src="/javascripts/vendor/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/vendor/jquery-ui-1.12.1.min.js"></script>
  <script src="/javascripts/vendor/jquery-1.15.1.validate.min.js"></script>
  <script src="/javascripts/vendor/jquery-2.0.5.tablesorter.min.js"></script>
  <script src="/javascripts/vendor/bootstrap-3.3.7.min.js"></script>
  <script src="/javascripts/vendor/datatables-1.10.12.min.js"></script>
  <script src="/javascripts/vendor/datatables.columnfilter-1.5.6.js"></script>
  <script src="/javascripts/site.js"></script>
  <script src="/javascripts/login.js"></script>
  <script src="/javascripts/stardate.js"></script>
  <script src="/javascripts/planets.js"></script>
  <script src="/javascripts/warp.js"></script>
  <script src="/javascripts/overlord.js"></script>
  <script src="/javascripts/practice.js"></script>
</body>
</html>
