
<article id="warcraft">
  <img src="images/wc-logo.png" id="wow-logo" alt="World of Warcraft" />
  <img src="images/wc-worgen.png" id="wow-worgen" alt="Worgen" />

  <h1>WarCraft Races</h1>

  <p>The first table lists the Warcraft classes. You can use this to test selecting specific rows.</p>

  <table class="wowClassTable">
    <tbody>
    <tr>
      <th>Race</th>
      <th>Faction</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>Human</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Human_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Dwarf</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Dwarf_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Night Elf</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Night_elf_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Gnome</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Gnome_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Draenei</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Draenei_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Worgen</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Worgen_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Pandaren</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Pandaren_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Pandaren</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Pandaren_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Orc</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Orc_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Undead</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Undead_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Tauren</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Tauren_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Troll</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Troll_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Blood Elf</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Blood_elf_(playable)">View</a></td>
    </tr>
    <tr>
      <td>Goblin</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Goblin_(playable)">View</a></td>
    </tr>
    </tbody>
  </table>

  <h1>WarCraft Classes</h1>

  <p>The second table lists the Warcraft races along with classes. You can use this to test selecting specific rows with nested tables.</p>

  <table class="wowClassTable">
    <tbody>
    <tr>
      <th>Race</th>
      <th>Faction</th>
      <th>Link</th>
      <th>Classes</th>
    </tr>
    <tr>
      <td>Human</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Human_(playable)">View</a></td>
      <td>
        <table>
          <tr>
          </tr>
          <tr>
            <td>Priest</td>
          </tr>
          <tr>
            <td>Rogue</td>
          </tr>
          <tr>
            <td>Warrior</td>
          </tr>
          <tr>
            <td>Mage</td>
          </tr>
          <tr>
            <td>Hunter</td>
          </tr>
          <tr>
            <td>Warlock</td>
          </tr>
          <tr>
            <td>Paladin</td>
          </tr>
          <tr>
            <td>Monk</td>
          </tr>
          <tr>
            <td>Death Knight</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>Dwarf</td>
      <td>Alliance</td>
      <td><a href="http://www.wowwiki.com/Dwarf_(playable)">View</a></td>
      <td>
        <table>
          <tr>
          </tr>
          <tr>
            <td>Priest</td>
          </tr>
          <tr>
            <td>Rogue</td>
          </tr>
          <tr>
            <td>Warrior</td>
          </tr>
          <tr>
            <td>Mage</td>
          </tr>
          <tr>
            <td>Hunter</td>
          </tr>
          <tr>
            <td>Warlock</td>
          </tr>
          <tr>
            <td>Shaman</td>
          </tr>
          <tr>
            <td>Paladin</td>
          </tr>
          <tr>
            <td>Monk</td>
          </tr>
          <tr>
            <td>Death Knight</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>Undead</td>
      <td>Horde</td>
      <td><a href="http://www.wowwiki.com/Undead_(playable)">View</a></td>
      <td>
        <table>
          <tr>
          </tr>
          <tr>
            <td>Priest</td>
          </tr>
          <tr>
            <td>Rogue</td>
          </tr>
          <tr>
            <td>Warrior</td>
          </tr>
          <tr>
            <td>Mage</td>
          </tr>
          <tr>
            <td>Hunter</td>
          </tr>
          <tr>
            <td>Warlock</td>
          </tr>
          <tr>
            <td>Monk</td>
          </tr>
          <tr>
            <td>Death Knight</td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

  <div id="test-guide">
    <p><strong>Automation Notes:</strong></p>
    <p>This is a good page to work with if you want to test out table logic. You have one table that has a relatively standard structure and then another that has a slightly more unique one.</p>
  </div>
</article>
